django
celery
crispy-bootstrap5            
dj-database-url       
django-allauth  
django-celery-beat 
django-celery-results 
django-configurations
django-crispy-forms          
django-debug-toolbar     
django-filter         
django-registration     
django-timezone-field 
django-versatileimagefield 
djangorestframework       
djangorestframework-simplejwt
drf-yasg                      
oauthlib                  
Pillow                       
PyGithub                  
Pygments                  
PyJWT                      
python-crontab              
python-dateutil             
python-magic                  
python3-openid            
